<html xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="./pico.min.css">
    <title>U Stupid?</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }

    .centered-content {
        text-align: center;
    }

    img {
        width: 500px;
        height: auto;
    }
</style>
<body>
<h1> You stupid? Erstell doch erst mal nen Character...
    <br>
    <br>
<div class="centered-content">
<img src="/man-with-infinite-facepalm.gif" alt="Animated GIF">
</div>
    <br>
<a href="/">
    <button>Create a new Character</button>
</a>

</body>
</html>