<html xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/pico.min.css">
    <title th:text="#{creator.greeting}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1 th:text="#{creator.greeting}"></h1>
<form action="#" th:action="@{/}" th:object="${character}" method="post">
    <p th:text="#{creator.name}"></p>
    <p><input type="text" th:field="*{name}" required/></p>
    <p th:text="#{creator.class}"></p>
    <select th:field="*{charClass}">
        <option value="Barbarian" th:text="#{creator.barbarian}"></option>
        <option value="Bard" th:text="#{creator.barbarian}">Bard</option>
        <option value="Cleric" th:text="#{creator.barbarian}">Cleric</option>
        <option value="Druid" th:text="#{creator.barbarian}">Druid</option>
        <option value="Fighter" th:text="#{creator.barbarian}">Fighter</option>
        <option value="Monk" th:text="#{creator.barbarian}">Monk</option>
        <option value="Paladin" th:text="#{creator.barbarian}">Paladin</option>
        <option value="Ranger" th:text="#{creator.barbarian}">Ranger</option>
        <option value="Rogue" th:text="#{creator.barbarian}">Rogue</option>
        <option value="Sorcerer" th:text="#{creator.barbarian}">Sorcerer</option>
        <option value="Warlock" th:text="#{creator.barbarian}">Warlock</option>
        <option value="Wizard" th:text="#{creator.barbarian}">Wizard</option>
    </select>
    <p th:text="#{creator.strength}"></p>
    <p><input type="text" th:field="*{strength}"/></p>
    <p th:text="#{creator.agility}"></p>
    <p><input type="text" th:field="*{agility}"/></p>
    <p th:text="#{creator.intelligence}"></p>
    <p><input type="text" th:field="*{intelligence}"/></p>
    <button type="submit" th:text="#{creator.submit}"></button>
</form>

<a href="/characters">
    <button th:text="#{creator.allChars}"></button>
</a>

</body>
</html>