<html xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="./pico.min.css">
    <title>Getting Started: Character Sheet Creator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1> Character List </h1>

<div th:each="character : ${myCharacterArrayList}">
    <a th:href="@{'/characters/' + ${character.id}}"><span th:text="'Character ' + ${character.name}"></span></a>
</div>
<p th:text="${myCharacterArrayList}"/>




</body>
</html>