<html xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="./pico.min.css">
    <title th:text="#{emptylist.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<style>
    body {
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }

    .centered-content {
        text-align: center;
    }

    img {
        width: 500px;
        height: auto;
    }
</style>
<body>
<h1 th:text="#{emptylist.uStupid}"></h1>
<br>
<div class="centered-content">
    <img src="/man-with-infinite-facepalm.gif" alt="Animated GIF">
</div>
<br>
<a href="/">
    <button th:text="#{emptylist.create}"></button>
</a>

</body>
</html>